<form method="post" action="/user/login">
    <label for="email">Email:</label>
    <input type="email" name="email" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" required><br>
    <button type="submit">Login</button>
</form>

<p>If you don't have account! <a href="/user/signup">Signup</a></p>